<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Health care chatbot</title>
    <link rel="stylesheet" href="../../static/adminResources/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <link rel="stylesheet" href="../../static/adminResources/css/jquery.toast.min.css">
    <link rel="shortcut icon" href="../../static/adminResources/image/favicon.png"/>
</head>

<body class="sidebar-light">
<div class="container-scroller">
    {% include 'admin/header.html' %}

    <div class="container-fluid page-body-wrapper">

        {% include 'admin/menu.html' %}

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Add Disease</h4>
                                <form class="cmxform" method="post" action="/admin/insert_disease"
                                      onsubmit="return addDisease()">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="firstname">Disease Name</label>
                                            <input id="diseaseName" class="form-control" name="diseaseName" type="text"
                                                   onkeypress='return event.charCode>=65 && event.charCode<=90 || event.charCode>=97 && event.charCode<=122|| event.charCode==32'>
                                        </div>
                                        <div class="form-group">
                                            <label for="lastname">Disease Description</label>
                                            <input id="diseaseDescription" class="form-control"
                                                   name="diseaseDescription"
                                                   type="text"
                                                   onkeypress='return event.charCode>=65 && event.charCode<=90 || event.charCode>=97 && event.charCode<=122|| event.charCode==32'>
                                        </div>
                                        <input class="btn btn-primary" type="submit" value="Submit">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'admin/footer.html' %}
        </div>
    </div>
</div>
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<script src="../../static/adminResources/js/jquery.validate.min.js"></script>
<script src="../../static/adminResources/js/bootstrap-maxlength.min.js"></script>
<script src="../../static/adminResources/js/form-validation.js"></script>
<script src="../../static/adminResources/js/bt-maxLength.js"></script>
<script src="../../static/adminResources/js/jquery.toast.min.js"></script>
<script src="../../static/adminResources/js/toaster.js"></script>
<script src="../../static/adminResources/js/customvalidation.js"></script>
</body>
</html>
