<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Health care chatbot</title>
    <link rel="stylesheet" href="../../static/adminResources/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <link rel="stylesheet" href="../../static/adminResources/css/jquery.toast.min.css">
    <link rel="shortcut icon" href="../../static/adminResources/image/favicon.png"/>
</head>

<body class="sidebar-light">
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <img src="../../static/adminResources/image/logomb.PNG" alt="logo">
                        </div>
                        <h4>Forgot Password</h4>
                        <form action="/admin/validate_login_username" method="post" onsubmit="return forgetPassword()">
                            <div class="form-group">
                                <input type="email" name="loginUsername" class="form-control form-control-lg"
                                       id="loginUsername" placeholder="Username">
                            </div>
                            <div class="mt-3">
                                <input type="submit"
                                       class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"/>
                            </div>

                            {% with message = get_flashed_messages() %}
                                {% if message %}
                                    <span style="font-size:19px;color: red">{{ message[0] }}</span>
                                {% endif %}
                            {% endwith %}

                            <div class="mt-3">
                                <a class="btn btn-block btn-outline-primary btn-fw font-weight-medium"
                                   href="/">Log in
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
</body>
</html>
