<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/load_dashboard">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#editors4" aria-expanded="false" aria-controls="editors">
                <i class="mdi mdi-contacts menu-icon"></i>
                <span class="menu-title">Image</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="editors4">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/user/load_image">Upload Image</a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/view_image">View Image</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/user/view_appointment">
                <i class="mdi mdi-calendar-check menu-icon"></i>
                <span class="menu-title">View Appointments</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/user/view_complain">
                <i class="mdi mdi-account-alert menu-icon"></i>
                <span class="menu-title">Complain</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/user/load_feedback">
                <i class="mdi mdi-thumb-up menu-icon"></i>
                <span class="menu-title">Feedback</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/load_update_password">
                <i class="mdi mdi-key-change menu-icon"></i>
                <span class="menu-title">Reset Password</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/logout_session">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>
    </ul>
</nav>
