<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin/load_dashboard">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/view_user">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Manage User</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#editors1" aria-expanded="false" aria-controls="editors">
                <i class="mdi mdi-map-marker menu-icon"></i>
                <span class="menu-title">Manage Area</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="editors1">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/load_area"><span>Add Area</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/view_area"><span>View Area</span></a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#editors2" aria-expanded="false" aria-controls="editors">
                <i class="mdi mdi-settings menu-icon"></i>
                <span class="menu-title">Manage Disease</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="editors2">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/load_disease">Add Disease</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/view_disease">View Disease</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#editors3" aria-expanded="false" aria-controls="editors">
                <i class="mdi mdi-contacts menu-icon"></i>
                <span class="menu-title">Manage Dataset</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="editors3">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/load_dataset">Add Dataset</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/view_dataset">View Dataset</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#editors4" aria-expanded="false" aria-controls="editors">
                <i class="mdi mdi-medical-bag menu-icon"></i>
                <span class="menu-title">Manage Specialist</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="editors4">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/load_specialist">Add Specialist</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/view_specialist">View Specialist</a></li>
                </ul>
            </div>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/admin/view_image">
                <i class="mdi mdi-camera menu-icon"></i>
                <span class="menu-title">Manage Image Detection</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/view_appointment">
                <i class="mdi mdi-calendar-check menu-icon"></i>
                <span class="menu-title">Manage Appointments</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/view_complain">
                <i class="mdi mdi-account-alert menu-icon"></i>
                <span class="menu-title">Manage Complain</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/admin/view_feedback">
                <i class="mdi mdi-thumb-up menu-icon"></i>
                <span class="menu-title">Manage Feedback</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/logout_session">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>

    </ul>
</nav>