<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Health care chatbot</title>
    <link rel="stylesheet" href="../../static/adminResources/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <link rel="stylesheet" href="../../static/adminResources/css/jquery.toast.min.css">
    <link rel="shortcut icon" href="../../static/adminResources/image/favicon.png"/>
</head>
<body class="sidebar-light">
<div class="container-scroller">
    {% include 'user/header.html' %}
    <div class="container-fluid page-body-wrapper">

        {% include 'user/menu.html' %}

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 style="background-image: linear-gradient(90deg, #25378b, transparent);height: 50px; padding:20px 0px 40px 20px; color: white"
                                    class="card-title">Account Details</h4>
                                <form class="cmxform" method="post"
                                      action="/user/edit_details" onsubmit="return accountDetails()">
                                    <fieldset>
                                            <input type="hidden" name="userId" value={{ user_vo_list[0].user_id }}>
                                            <div class="form-group">
                                                <label for="areaName">First Name</label>
                                                <input id="firstName"
                                                       class="form-control"
                                                       name="firstName" type="text"
                                                       value="{{ user_vo_list[0].user_firstname }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="lastName">Last Name</label>
                                                <input id="lastName"
                                                       value="{{ user_vo_list[0].user_lastname }}" class="form-control"
                                                       name="lastName" type="text">
                                            </div>

                                            <div class="form-group">
                                                <label for="contactNumber">Contact Number</label>
                                                <input id="contactNumber"
                                                       value="{{ user_vo_list[0].user_contact }}" class="form-control"
                                                       name="contactNumber" type="text">
                                            </div>

                                            <div class="form-group">
                                                <label for="address">Address</label>
                                                <input id="address"
                                                       value="{{ user_vo_list[0].user_address }}" class="form-control"
                                                       name="address" type="text">
                                            </div>


                                            <div class="form-group">
                                                <label for="gender">Gender</label><br>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <div class="col-sm-4">
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input type="radio" class="form-check-input"
                                                                           name="userGender"
                                                                           id="userGender"
                                                                           value="M" checked="">
                                                                    Male
                                                                    <i class="input-helper"></i></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input type="radio" class="form-check-input"
                                                                           name="userGender"
                                                                           id="userGender"
                                                                           value="F">
                                                                    Female
                                                                    <i class="input-helper"></i></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input class="btn btn-primary" type="submit" value="Submit">
                                        </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'user/footer.html' %}

        </div>
    </div>
</div>
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<script src="../../static/adminResources/js/jquery.validate.min.js"></script>
<script src="../../static/adminResources/js/bootstrap-maxlength.min.js"></script>
<script src="../../static/adminResources/js/form-validation.js"></script>
<script src="../../static/adminResources/js/bt-maxLength.js"></script>
<script src="../../static/adminResources/js/file-upload.js"></script>
<script src="../../static/adminResources/js/jquery.toast.min.js"></script>
<script src="../../static/adminResources/js/toaster.js"></script>
<script src="../../static/adminResources/js/customvalidation.js"></script>
</body>
</html>
