<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Health care chatbot</title>
    <link rel="stylesheet" href="../../static/adminResources/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <link rel="shortcut icon" href="../../static/adminResources/image/h.png"/>

</head>
<body class="sidebar-light">
<div class="container-scroller">
    {% include 'user/header.html' %}
    <div class="container-fluid page-body-wrapper">
        {% include 'user/menu.html' %}
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                     <div class="col-md-12">
                         <div class="row">
                    <div class="col-sm-6 mb-4 mb-xl-0">
                                <h3>Welcome {{ session['name']}}! </h3>
                                <h6 class="font-weight-normal mb-0 text-muted">Welcome to health care chatbot.</h6>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center justify-content-md-end">
                                    <div class="border-right-dark pr-4 mb-3 mb-xl-0 d-xl-block d-none">
                                        <p class="text-muted">Today</p>
                                        <h6 class="font-weight-medium text-dark mb-0">{{ session['datetime'][0:10:1] }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-header-tab mt-xl-4">
                            <div class="col-12 pl-0 pr-0">
                                <div class="row ">
                                    <div class="col-12 col-sm-6 mb-xs-4  pt-2 pb-2 mb-xl-0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <img src="../../static/adminResources/image/2.jpg"
                             style="height: 100%;width: 100%;border-radius: 10px">
                    </div>
                    <div class="col-lg-6">
                        <h1 class="text-center text-muted">Health care chatbot</h1>
                        <p class="text-muted text-justify" style="font-size: 15px">This work aims to provide a fast and
                            convenient way to manage your skin care and detection of diseases. The online skin care
                            chat-bot will help facilitate the user with queries and assist about their skin diseases
                            detection.
                            This application will allow user to check what kind of diseases they are suffering from by
                            conversation to chat-bot and clicking pictures of skin where they are infected.
                            They can ask their questions related to chat-bot where professionals can reply to those
                            questions .
                            It improves costumer service through conversation using chat-bot .
                            The chat-bot will be implemented using the La-ravel Framework and Dialog flow. The Dialog
                            flow will be utilising the NLU to perform artificial intelligence methods such as; Natural
                            Language Processing (NLP), mysql, and entity recognition to analyse text and carry out the
                            appropriate actions. Dialog flow is a Natural Language Understanding Engine (NLU) used for
                            the extraction of entities and intent from a user’s message.
                        </p>
                    </div>



                </div>
            </div>

             <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
            <df-messenger
                    intent="WELCOME"
                    chat-title="Health care chatbot"
                    agent-id="17a50b7a-b870-40c3-b8ca-0106013d2ac5"
                    language-code="en"
                    expand=True
            ></df-messenger>

            {% include 'user/footer.html' %}


        </div>
    </div>
</div>
</div>
</div>
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<script src="../../static/adminResources/js/progressbar.min.js"></script>
<script src="../../static/adminResources/js/jquery.flot.js"></script>
<script src="../../static/adminResources/js/jquery.flot.resize.js"></script>
<script src="../../static/adminResources/js/curvedLines.js"></script>
<script src="../../static/adminResources/js/Chart.min.js"></script>
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<script src="../../static/adminResources/js/dashboard.js"></script>
</body>
</html>

