<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Health care chatbot</title>
    <link rel="stylesheet" href="../../static/adminResources/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../static/adminResources/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <link rel="shortcut icon" href="../../static/adminResources/image/favicon.png"/>
</head>

<body class="sidebar-light">
<div class="container-scroller">
    {% include 'user/header.html' %}
    <div class="container-fluid page-body-wrapper">
        {% include 'user/menu.html' %}

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="card">
                    <div class="card-body">
                        <h4 style="background-image: linear-gradient(90deg, #25378b, transparent);height: 50px; padding:20px 0px 40px 20px; color: white" class="card-title">View Specialist</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="order-listing" class="table">
                                        <thead>
                                        <tr>
                                            <th>Specialist Name</th>
                                            <th>Specialist Qualification</th>
                                            <th>Contact Number</th>
                                            <th>Specialist Email</th>
                                            <th>View Specialist</th>
                                            <th>Specialist Opening & Close Time</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>L.D.</td>
                                            <td>L.D.</td>
                                            <td>L.D.</td>
                                            <td>L.D.</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'user/footer.html' %}
        </div>
    </div>
</div>
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<script src="../../static/adminResources/js/jquery.dataTables.js"></script>
<script src="../../static/adminResources/js/dataTables.bootstrap4.js"></script>
<script src="../../static/adminResources/js/data-table.js"></script>
</body>
</html>
